@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root {
    --heading-font: 'Playball', cursive;
    --paragraph-font: arial, sans-serif;

    /* coolors.co color pallet: https://coolors.co/a8d0db-e49273-a37a74-191716-0854a5 */
    --primary-color: #A8D0DB;
    --secondary-color: #04724D;
    --accent-color-1: #ffffff;
    --accent-color-2: #0854a5;

    --paragraph-color: #191716;
    --heading-color: #04724D; /* Secondary color*/
}
/* dynamic content hiding/displaying */
div#join {
    display: none;
}
div#spotlight div.spotlight:nth-child(3){
    display: none;
}

/* Navigation Styles */
nav {
    grid-column: 1 / -1;
    background-color: var(--accent-color-2);
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--primary-color);
    border-top: 1px solid rgba(0,0,0,.5);
    font-family: var(var(--heading-font));
}
nav ul li.active a{
    background-color: rgba(0,0,0,.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,.3);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn {
    width: 100%;
    display: block;
    cursor: pointer;
    text-align: start;
}

#hamburgerBtn span:nth-child(1) {
    color: var(--primary-color);
    display: flex;
}
#hamburgerBtn span:nth-child(2) {
    color: var(--primary-color);
    display: none;
}


#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* Header Styles */
#banner {
    display: none;
}
.banner {
    display: block;
    grid-column: 1 / -1;
    justify-self: center;
}
#date {
    grid-column: 1 / -1;
    font-family: var(--paragraph-font);
    justify-self: center;
    padding: 1rem;
}

header {
    background-color: var(--primary-color);
    border: 1px solid #191716;
    border-radius: 5px 5px 5px 5px;
    font-family: var(--heading-font);
    display: grid;
    grid-template: auto / auto auto auto auto;
    align-items: center;
}
.logo {
    max-width: 100px;
    grid-column: 1;
}
header h1 {
    grid-column: 2;
}
header section {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: end;
}

/* Generic Styles */
p, li, section {
    color: var(--paragraph-color);
    font-family: var(--paragraph-font);
    font-size: 16px;
    padding: .5rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--heading-color);
}

address {
    color: var(--paragraph-color);
}
a.linkOnColor {
    color: var(--primary-color);
}


/* Footer Styles */
footer {
    background-color: var(--accent-color-2);
}
#baseFooter {
    grid-column: 1 / -1;
    align-items: center;
    justify-items: center;
}
div#address {
    justify-self: start;
}
#year, #last-update {
    color: var(--accent-color-1);
}
footer div address{
    color: var(--primary-color);
}

/* Main styles */
main {
    background-color: var(--primary-color);
    border: 1px solid #191716;
    border-radius: 5px 5px 5px 5px;
}
/* banner image with call to action*/
#hero {
    position: relative;
}
#bannerImg {
    max-width: 100%;
    justify-self: center;
    align-self: center;
}
#welcome {
    position: absolute;
    left: 1rem
}
#welcome h2, #welcome h3 {
    color: var(--paragraph-color);
    text-shadow: 3px 3px 3px rgba(168, 208, 219, .5);
}
#actionCall {
    text-decoration: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: var(--primary-color);
    color: var(--accent-color-2);
    border-radius: 1.5rem;
    padding: .5rem;
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 30px var(--secondary-color)
}
/* Weather block*/
div#weather {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
}
div#weather h2, div#weather #weatherType, div#weather .wind  {
    grid-column: 1 / -1;
}

#weather h2, #weather img, #weather p, #weather figcaption{
    margin: 0px;
}

/* generic blocks of content*/
div.homeBlock {
    border: 1px solid rgba(0,0,0,.3);
    background-color: rgba(4, 114, 77, .5);
    padding: .5rem;
}
div.homeBlock p, div.homeBlock h2, div.homeBlock h3 {
    color: var(--paragraph-color);
}
div.spotlight {
    border: 1px solid rgba(0,0,0,.2);
    background-color: rgba(4, 114, 77, .7);
    margin: .2rem;
    padding: .5rem;
}
.companyLogo {
    max-width: 200px;
}
.moreInfo {
    text-decoration: none;
}
/* Join Us Block */
#join-us {
    width: 100%;
    font-family: var(--paragraph-font);
    background-color: var(--accent-color-2);
    color: var(--accent-color-1);
    border-radius: 1.5rem;
    padding: 1rem;
    border: 1px solid var(--accent-color-2);
    box-shadow: 0 0 30px var(--secondary-color)
}
#join-us:hover {
    cursor: pointer;
}

/* Classes */
.cards {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(1, minmax(320px, 1fr));
}
.cards img {
    max-width: 250px;
}
.cards section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    padding: 1rem;
    background-color: rgba(4, 114, 77, .3);
}

.cards img {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
}

.cards section {
    margin: 0 auto;
    inline-size: min-content;
    word-break: break-all;
}

#directorySelectorDiv {
    justify-self: center;
    margin: 0 auto;
    /* width: 500px; */
}
.directorySelector {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #000;
    margin: 0 auto;
}

.directoryListView {
    justify-self: center;
    margin: 0 auto;
    width: 80%;

}
.directoryListView tr:nth-child(odd) {
    background-color: rgba(0,0,0,.2);
    word-break: break-all;
}

#directoryListView1 {
    display: none;
  }

.active {
    background-color: rgba(0,0,0,.2);
}

.hidden {
    display: none;
}