@media only screen and (min-width: 64rem){
   div#spotlight div.spotlight:nth-child(3){
      display: block;
   }

   #hamburgerBtn {display: none;}

   nav ul#primaryNav {
       display: flex;
       margin-left: 2vw;
       border-left: 1px solid rgba(0,0,0,0.3);
   }
   nav ul li a {
       border: none;
       border-right: 1px solid rgba(0,0,0,0.3);
   }
   nav ul li a {
      padding: .5rem 1rem;
   }
   #date {
      padding: .5rem;
   }
   #bannerImg{
      max-width: 100%;
   }

   main {
      grid-template-columns: 1fr 2fr 1fr;
   }

   .leftColumn {
      grid-column: 1 / 2;
   }
   .entireRightColumn {
      grid-column: 3 / 4;
   }
   .middleColumn{ 
      grid-column: 2 / 3
   } 

   
   #hero{
      grid-row: 1 / 3;
   }
   #event{
      grid-row: 1;
   }
   #weather{
      grid-row: 2;
   }
   #join{
      grid-row: 3;
   }
   #news{
      grid-row: 3;
   }
   #spotlight{
      grid-column: 3 / 4;
      grid-row: 1 / 4;
      grid-template-columns: 1fr;
   }
   
   #spotlight div:first-child {
      margin-left: 3px;
  }
  #spotlight div:last-child {
      margin-right: 3px;
  }

  .cards {
   grid-template-columns: repeat(3, minmax(320px, 1fr));
   }
}