@media only screen and (min-width: 35rem) {
  /* dynamic content hiding/displaying */
  div#join {
    display: block;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* Footer */
  footer {
    background-color: var(--accent-color-2);
    display: grid;
    grid-template: auto auto / 100px auto auto;
    align-items: center;
    justify-items: center;
  }
  .cards {
    grid-template-columns: repeat(2, minmax(320px, 1fr));
  }
}

@media only screen and (max-width: 63.9rem)  {
    
  div.homeBlock {
    grid-column: 1 / -1;
    margin: 3px;
    padding: 3px;
  }
  #event {
    grid-column: 1 / 3;
  }
  #weather {
    grid-column: 3;
  }
  #spotlight {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #spotlight div:first-child {
    margin-left: 10px;
  }
  #spotlight div:last-child {
    margin-right: 10px;
  }
  div.spotlight {
    margin: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
  }
}