@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Lobster+Two&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


:root {
    --heading-font: 'Lobster Two', cursive;
    --paragraph-font: arial, sans-serif;

    /* coolors.co color pallet: https://coolors.co/edc79b-515052-628b48-6ab547-f15025 */
    --primary-color: #edc79b; /* Call to action background */
    --primary-color-rgb: 237,199,155;

    --secondary-color: #6ab547;
    --secondary-color-rgb: 106,181,71;

    --accent-color-1: #628b48;
    --accent-color-1-rgb: 98,139,72;

    --accent-color-2: #515052; /* used for shading. Like box shadows, showing what is being hovered on, showing what page you're on in the Nav bar, etc.*/
    --accent-color-2-rgb: 81,80,82;

    --accent-color-3: #f15025; /* Used for warnings, alerts, notifications, banners */
    --accent-color-3-rgb: 241,80,37;
}

/* General Styles */
h1, h2, h3, h4, h5, h6 {
    /* color: var(--heading-color); */
    font-family: var(--heading-font);
}

p, li, span, label, input, th, td, option, a {
    font-family: var(--paragraph-font);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Header Styles */
header {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
    background-color: var(--accent-color-1);
    padding: 1rem;
}
#contactInfo {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

/* Navigation Bar Styles */
nav {
    background-color: rgba(var(--accent-color-2-rgb), .5);
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #000000
}

#navigation li {
    list-style: none;
    margin: 0 auto;
}

a.navLink {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    border-top: 1px solid rgba(0,0,0,.5);
}
#navigation li:hover {
    background-color: rgba(var(--accent-color-2-rgb), .5);
}

li.active{
    background-color: rgba(0,0,0,.2);
    color: #fff;
}

nav ul {display: none;}
nav ul.open {display: block;}

/* hamburger menu */
#hamburgerBtn {
    width: 100%;
    display: block;
    cursor: pointer;
    text-align: start;
    margin-left: 1rem;
}
#hamburgerBtn span:nth-child(1) {
    display: flex;
}
#hamburgerBtn span:nth-child(2) {
    display: none;
}
#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* social media links */
#socialMediaLinks {
    justify-self: end;
    margin-right: 1rem;
}

/* Footer Styles */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--accent-color-1);
    padding: 1rem
}
#baseFooter {
    grid-column: 1 / -1;
    padding-top: 1rem;
}

/* Drink Menu Styles */
.menu {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
.menu li {
    list-style: none;
    display: inline-block;
}
.rating {
    width: 50%;
    margin: auto;
}

/* Home Page Styles */
#forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#weatherToday {
    display: grid;
    justify-content: center;
    align-content: center;
}
#makeyourdrink {
    background-color: var(--secondary-color);
    padding: 1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}


/* Fresh Drinks Styles */
#customDrinksGreeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
#drinkCreation {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  #drinkCreationForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  #nutritionFacts {
    justify-self: center;
  }
  #nutritionFacts table th {
    text-align: end;
  }

/* About Us Styles */

.contactForm {
    display: grid;
    padding: 1rem;
  }
/* Class Styles */
.contentBlock {
    border: 1px solid black;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(var(--primary-color-rgb), .2);
}
.hidden {
    display: none;
}
/* ID Styles */
