@media only screen and (min-width: 64rem){
  /* Navigation Bar Styles */
  nav {
    grid-template-columns: 300px 1fr;
  }
  #navigation {
    display: flex;
  }
  
  #navigation li a {
    border: none;
    padding: 1rem
  }
  
  /* hamburger menu */
  #hamburgerBtn {
    display: none;
  }
 }